.cta {
  display: inline-block;
  background: var(--color-bg-button);
  color: white;
  border-radius: 3.125rem;
  padding: 1.31rem 2.375rem;
  font-family: var(--font-family-title);
  width: fit-content;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
    .highlight__link {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .cta {
      font-size: 0.875rem;
      padding: 1.31rem 1.6rem;
    }
}