.appBar {
    background-color: var(--color-bg-secondary);
    padding: 1.25rem 4.5rem 1.25rem 3.125rem;
}

.appBar__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.appBar__logo {
    width: 5.168rem;
    height: 2.765rem;
}

.appBar__nav-list {
    display: flex;
    list-style: none;
}

  .appBar__nav-list--mobile {
    display: none;
  }

.appBar__nav-item {
    color: var(--color-txt-secondary);
    font-family: var(--font-family-header);
    font-style: normal;
    font-weight: var(--font-weight-header);
    font-size: var(--font-size-header);
    margin-left: 8.187rem;
}



@media screen and (max-width: 768px) {
    .appBar {
    padding: 1.5rem 2rem;
  
  }

  .appBar__nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .appBar__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding-inline-start: 0;
  }

  .appBar__nav-list--desktop {
    display: none;
  }

  .appBar__nav-list--mobile {
    display: flex;
  }

  .appBar__nav-item {
    margin-left: 0;
    font-size: 1rem;
  }
}